.akare a{
    cursor: pointer;
    text-align: center;
    font-size: 7px;
    position: absolute;
    top: 20px;
    left: -1px;
    color: #505050;
}
.event_add_ekr{
    top:55px !important;
}
.gdy_resim{
    max-width: 561px;
    text-align: center;
}

.gdy_bg_loader{
    background: url(images/loader.gif);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.gdy_creator_img{
    width: 48px;
    height: 48px;
}

.ls_btn {
    background-color: transparent;
    background-image: url(images/likebtn.png);
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    position: relative;
    float: left;
    margin: 2px;
}


.edit_btn {
    background-color: transparent;
    background-image: url(images/edit_event.png);
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.likeshare {
    height: 100px;
    width: 186px;
    position: absolute;
    z-index: 1000001;
}

.like_btn{
    background-position:left top;
}
.like_btn:hover{
    background-position:left bottom;
}


.like_btn_aktif{
    background-position:left bottom;
}
.like_btn_aktif:hover{
    /* background-position:left top;*/
}


.maybe_btn {
    background-position:-44px top;
}
.maybe_btn:hover{
    background-position:-44px bottom;
}

.maybe_btn_aktif{
    background-position:-44px bottom;
}
.maybe_btn_aktif:hover{
    /* background-position:-44px top;*/
}


.share_btn {
    background-position:-89px top;
}
.share_btn:hover{
    background-position:-89px bottom; 
}


.share_btn_aktif{
    background-position:-89px bottom;
}
.share_btn_aktif:hover{
    /*  background-position:-89px top; */
}

.join_btn {
    background-position:right top;
}
.join_btn:hover{
    background-position:right bottom;
}

.join_btn_aktif{
    background-position:right bottom;
}
.join_btn_aktif:hover{
    /*  background-position:right top; */
}

/*
 * Main event 
*/ 

.main_event_box_img_blur{
    -webkit-filter: blur(3px); 
    filter: url(#blur-effect-1);
    filter: blur(3px); 
    -webkit-filter: blur(3px); 
    -moz-filter: blur(3px); 
    -o-filter: blur(3px); 
    -ms-filter: blur(3px);
    filter: url(blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
}

.m_e_com {
    font-size: 11px;
    color: #6a6a6a;
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: url(images/u_line.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-left: 5px;
    font-family: arial;
    min-height: 22px;
}


/* profil */
.profil_box {
    min-height: 80px;
    width: 194px;
    margin-right: 3px;
    margin-left: 4px;
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: url(images/m_ebg.png);
    background-repeat: repeat;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #bcbcbc;
    border-right-color: #bcbcbc;
    border-left-color: #bcbcbc;
}
.profil_resim {
    border: 1px solid #cfcfcf;
    clear: both;
    background-color: #FFF;
    padding: 4px;
    margin-right: auto;
    margin-left: auto;
    width: 176px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.user_settings {
    display: inline-block;
    float: right;
    margin-right: 5px;
    width: 24px;
    padding-top: 20px;
}
.profil_user {
    display: inline-block;
}
.profil_metin {
    font-family: Arial;
    font-size: 11px;
    color: #959595;
    width: 186px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.profil_btn {
    height: auto;
    width: auto;
}
.profil_btn ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cfcfcf;
}
.profil_btn ul li {
    background-image: url(images/addbtn.png);
    height: 37px;
    background-position: left -1px;
    background-repeat: repeat-x;
    line-height: 37px;
}
.profil_btn ul li a {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    display: block;
    text-decoration: none;
    padding-left: 5px;
}

.prinpt {
    font-family: arial;
    font-size: 11px;
    color: #FFF;
    height: 22px;
    width: 33px;
    box-shadow: 0px 1px 0px #FFF;
    float: right;
    border-radius: 3px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}
.pcolor_mavi {
    background-color: #6f93a6;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #607f90;
    border-right-color: #6a8c9e;
    border-bottom-color: #67899a;
    border-left-color: #6a8c9e;
}
.pcolor_krmz {
    background-color: #b35d5d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #9b5151;
    border-right-color: #ab5858;
    border-bottom-color: #a65656;
    border-left-color: #ab5858;
}
.pcolor_gri {
    background-color: #9d9d9d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #888888;
    border-right-color: #969696;
    border-bottom-color: #929292;
    border-left-color: #969696;
}
.pcolor_yesil {
    background-color: #7aa745;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6a913b;
    border-right-color: #749f41;
    border-bottom-color: #719b40;
    border-left-color: #749f41;
}
/* profil */


/*  suggest friend */
.suggest_friend_ul{
    max-height: 400px;
    overflow-y: scroll;
    width: 370px;
}

/*  suggest friend */


.main_draggable {
    padding: 4px;
    margin: -4px;
}

/*  profil */
.profil_form {
    background-color: #efefef;
    width: 948px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border-radius: 10px;
    margin-top: 80px;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.65),inset 0px 1px 2px rgba(0,0,0,0.15);
}
.p_form_sol {
    float: left;
    width: 465px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
}
.p_form_sag {
    float: right;
    width: 380px;
}
.profil_etiket {
    clear: both;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #666666;
    padding-top: 5px;
    padding-bottom: 2px;
}
.profil_g {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    padding-top: 20px;
    clear: both;
}
.icon_yeni {
    background-image: url(images/face_iconyeni.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    height: 75px;
    width: 90px;
}
.face_yeni {
    background-position: left top;
}
.twiter_yeni {
    background-position: -92px top;
}
.gmail_yeni {
    background-position: -187px top;
}
.four_yeni {
    background-position: right top;
}
.face_yeni:hover {
    background-position: left bottom;
}
.twiter_yeni:hover {
    background-position: -92px bottom;
}
.gmail_yeni:hover {
    background-position: -187px bottom;
}
.four_yeni:hover {
    background-position: right bottom;
}

.face_yeni_hover {
    background-position: left bottom;
}
.twiter_yeni_hover {
    background-position: -92px bottom;
}
.gmail_yeni_hover {
    background-position: -187px bottom;
}
.four_yeni_hover {
    background-position: right bottom;
}

.set_slide {
    display: inline-block;
    float: left;
    margin-right: 6px;
}
.profil_al {
    display: inline-block;
    float: left;
    padding-top: 55px;
    padding-left: 10px;
}
.profil_kul {
    background-image: url(images/profil.png);
    display: inline-block;
    float: left;
    height: 107px;
    width: 106px;
}

.profil_alt {
    text-align: center;
    clear: both;
    padding-top: 20px;
}
/*profil form*/

/* max length */
.maxlength-feedback{
    position: relative;
    left: 545px;
    top: -17px;
    color: #aaa !important;
    text-align: right !important;
    font-size: 16px !important;
    vertical-align: bottom;
    display: inline-block;
    width: 20px;
}

.title_max .maxlength-feedback{
    position: absolute !important;
    left: 440px !important;
    top: 29px !important;
}

.profil_g .maxlength-feedback{
    left: -25px !important;
    top: 20px !important;
    font-family: Arial;
    font-size: 11px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.div_date_month{
    position:absolute;
    left:35px;
}
.div_date_year{
    position:absolute;
    left:103px;
}

.ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center 
        no-repeat !important;
    background-position-x: 585px !important;
}

.gdy_alt_rsm_img{
    border: 1px solid #c7c7c7;
    margin-top: -1px;
}

/* Add Quick Event   */
.quick_add_event_bar {
    line-height: 36px;
    border: 1px solid #cecece;
    background-color: #eaeaea;
    margin: 0px;
    border-radius: 5px;
    height: 36px;
    vertical-align: middle;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #b1b1b1;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-left: 6px;
    display: inline-block;
}

.quick_add_event_input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #b1b1b1;
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 500px;
    outline: none;
}

.quick_add_event_people_button{
    background-position: center -335px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    cursor:pointer;
    height: 23px;
    padding-right: 20px;
    padding-left: 10px;
    margin: 0px;
    vertical-align: middle;
    margin-top: -1px;
}

.quick_add_event_loc_button{
    background-image: url(images/fill.png);
    background-position: center 5px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    cursor:pointer;
    height: 23px;
    padding-right: 20px;
    padding-left: 10px;
    margin: 0px;
    vertical-align: middle;
    margin-top: -1px;
}

.quick_add_event_cal_button{
    background-position: center -395px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    cursor:pointer;
    height: 23px;
    padding-right: 20px;
    padding-left: 10px;
    margin: 0px;
    vertical-align: middle;
}

.quick_add_event_save_button {
    background-image: url(images/addevnt_hover.png);
    background-repeat: repeat-x;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #6a6a6a;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 5px;
    border: 1px solid #cecece;
    margin: 0px;
    background-color: #eaeaea;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 38px;
}

.quick_add_event_save_button:active {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #6a6a6a;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 5px;
    border: 1px solid #cecece;
    margin: 0px;
    background-color: #eaeaea;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 38px;
    background-image: none;
}


/* add people */

.quick_add_event_people_div_modal {
    min-width: 230px;
    min-height: 70px;
    position: absolute;
    right:-98px;
    height: auto;
    top: 25px;
}


.quick_add_event_people {
    background-image: url(images/p_bg.png);
    background-repeat: repeat;
    width: 204px;
    position: relative;
    z-index: 1000;
    top: 16px;
    right: -13px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

.quick_add_event_people ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.quick_add_event_people ul li {
    line-height: 32px;
    display: block;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #c2c2c2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #343434;
    box-shadow: 0px 1px 0px #545454;
    float: none;
}
.quick_add_event_people ul li:hover {
    background-color:rgba(20,20,20,0.46);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #252525;
    box-shadow:inset 0px 1px 0px #373737, 0px 1px 0px #191919;
    line-height: 32px;
    height: 32px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #727272;
}

.quick_add_event_people ul li a {
   position: absolute;
   right: 10px;
}


/* Add Quick Event  */


/* Tool tip */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/* Tool tip */
