/* 
    Document   : emailTemplate
    Created on : Jan 20, 2013, 11:17:18 AM
    Author     : ae
    Description:
        Purpose of the stylesheet follows.
*/
body {
    font-family: Arial;
}

h1 {
    font-size: 24px; 
    color: #6a6a6a; 
    font-family: Arial;
}

p {
    font-size: 18px; 
    color: #6a6a6a; 
    font-family: Arial;
}

table { 
    margin-left: auto; 
    margin-right: auto;
}

.rowHead {
    text-align: center; 
    padding-top: 50px;
}

.mainLine {
    background-image: url(http://timety.com/images/u_line.png); 
    background-repeat: repeat-x; 
    background-position: center center; 
    height: 45px; 
    width: 611px;
}

.middleLine {
    background-image: url(http://timety.com/images/kare.png); 
    background-repeat: repeat-x; 
    background-position: center center; 
    height: 45px; 
    width: 611px;
}

.bodyText {
    text-align: justify; 
    width: 611px;
}

.main_event_box {
    min-height: 80px;
    width: 194px;
    border: 1px solid #bcbcbc;
    background-color: #FFF;
    margin-right: 3px;
    margin-left: 4px;
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow:0px 1px 3px rgba(34,25,25,0.4);
}

.m_e_img {
    padding: 4px;
}

.m_e_metin {
    background-image: url(http://timety.com/images/m_ebg.png);
    background-repeat: repeat;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #d1d1d1;
    border-bottom-color: #e1e1e1;
}

.m_e_baslik {
	font-size: 12px;
        font-weight: bold;
	color: #6a6a6a;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(http://timety.com/images/u_line.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.m_e_ackl {
    font-size: 11px;
    color: #6a6a6a;
    padding: 5px;
    background-image: url(http://timety.com/images/u_line.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.m_e_tarih {
	font-size: 12px;
        font-weight: bold;
	color: #6a6a6a;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.m_e_drm {
    padding: 5px;
    height: 20px;
    text-align: center;
}

.m_e_cizgi {
    background-image: url(http://timety.com/images/m_e_czg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mavi_link {
    color: #5d91a9;
}

.turuncu_link {
    color: #ba6d6d;
}

.yesil_link {
    color: #8fae53;
}